h1, h2 {
  color: #c87a35; 
  text-align: center;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.view-one {
  display: flex;
  justify-content: center;
  /* position: relative; */
  transform: translateY(400%)
}

.view-foodmap {

}

/* Primera vista */

body {
  animation: colorchange 3s; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 3s; /* Chrome and Safari */
  animation-iteration-count: infinite;
}

@keyframes colorchange
{
  0%   {background: #2b2b2b;}
  25%  {background: #252222;}
  50%  {background: #201e1e;}
  75%  {background: #292525;}
  100% {background: #2b2b2b;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #2b2b2b;}
  50%  {background: #201e1e;}
  75%  {background: #292525;}
  100% {background: #2b2b2b;}
}

/* Fin de primera vista */