*{
  background-color: #2b2b2b;
}

h1, h2 {
  color: #c87a35; 
  text-align: center;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  
}

hr {
  width: 80%;
  height: 2px;
  background-color: white;
}

.main-container{
  /* outline: 1px solid red; */
}

.colum-main{
  
}

.cont-cuadrado{
  display: flex;
  justify-content: space-between;

}

.foodmap {
  font-size: 5rem;
}

.cuadrado {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  display: inline-block;
}

.linea {
  width: 100%;
  height: 1px;
  margin-top: 9px;
  border: 1px solid white;
}

.container-img, .container-picture {
  display: flex;
  width: 100%;
}

.img-fluid {
  width: 100%;
  height: 30vh;
  margin-top: 15px;
}

.food {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin-top: 5rem;
}

/* search */

#custom-search-input{
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
  height: 35px;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  padding: 0 8px 0 10px;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}



/* Fin search */

.container-picture {
flex-wrap: wrap;
justify-content: center center;
}

.img-fluid{
  height: 20%;
}


/* section 2 */

.form-control {
  margin-top: 10px;
}

.btn-default {
  width: 100%;
  margin-top: 12px;
}

